<footer>
  <div class="f-info d-flex flex-column align-items-center text-center">
    <div class="f-info-socials d-flex align-items-center gap-3 mb-2">
      <a href="https://www.instagram.com/mr_manojpal_/?hl=en" target="_blank" class="text-dark fs-4">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/manoj-pal-12888135a?utm_source=share_via&utm_content=profile&utm_medium=member_android" target="_blank" class="text-dark fs-4">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://facebook.com" target="_blank" class="text-dark fs-4">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>